.home {
    width: 100%;
    height: 700px;
    background-image: url(../images/image_trees.png);
}

.btn-mint{
    left: 0px;
    top: 0px;
    background: #ffffff;
    width: 246px;
    height: 44px;
    border-radius: 175px;
    color: #024D23;
}