.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn-mint{
    left: 0px;
    top: 0px;
    background: #ffffff;
    width: 246px;
    height: 44px;
    border-radius: 175px;
    text-decoration: #024D23;
}