.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 500px;
    height: 500px;
    gap: 50px;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/image_trees.png);

}

.btn-mint{
    left: 0px;
    top: 0px;
    background: #ffffff;
    width: 246px;
    height: 44px;
    border-radius: 175px;
    text-decoration: #024D23;
}